body{
    font-family: 'Courier New','Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #d16500;
    background-image: url(https://w.wallhaven.cc/full/y8/wallhaven-y8x95d.png);
}

header{
    text-align: center;
    padding: 100px 0;
}