body{
    font-family: 'Courier New','Courier New', Courier, monospace;
    font-size:x-large;
    margin: 0;
    padding: 0;
    color: #d16500;
    background-color: #f1f2f4;
    background-image: url(https://static.wikia.nocookie.net/dragonuniverse/images/a/ab/Kame_House.png/revision/latest?cb=20170424114929);
}

header{
    text-align: center;
    padding: 100px 0;
    background-color: bisque;
}

#a{
    position: relative;
    left: 26%;
    background-color: aqua;
    color: black

}

#b{
    position: relative;
    left: 32%;
    background-color: rgb(119, 35, 94);
    color: black
}

#c{
    position: relative;
    left: 38%;
    background-color:rgb(36, 163, 114);
    color: black
}

#d{
    position: relative;
    left: 44%;
    background-color: rgb(97, 119, 180);
    color: black
}

#e{
    position: relative;
    left: 50%;
    background-color: rgb(211, 127, 32);
    color: black
}

#f{
    position: relative;
    left: 56%;
    background-color: rgba(174, 0, 255, 0.719);
    color: black
}

#g{
    position: relative;
    left: 62%;
    background-color: rgba(45, 139, 139, 0.863);
    color: black
}


#img {
    display: flex; 
    justify-content: space-around; 
}

#image {
    display: flex;
 
    
}
section img{
    height: 300px; width: auto;
}
